header{
    color: white;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.defaultHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    background-color: rgba(173, 149, 121, 50%)

}

img{
    width: 15rem;
    border: 3px solid black;
    margin-top: 0.5rem;
}

header > div > span{
    font-size: 2rem;
    font-weight: bold;
}

.mobileHeader,
#hamburgerIcon,
#mobileImg{
    display: none;
}

/* media query */

@media screen and (max-width: 768px) {

    header,
    #mobileImg{
        display: block;
    }

    #mobileImg{
        display: grid;
        justify-content: center;
        margin: 1rem;
    }

    #hamburgerIcon{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: left;
        margin: 1rem 0 0 1rem;
    }

    .defaultHeader{
        display: none;
    }

    .mobileHeader{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        background-color: rgba(173, 149, 121);
        text-align: center;
        border: 1px solid black;
    }

    .mobileHeader > div{
        border: 0.5px solid black;
    }

    img{
        width: 10rem;
        border: 1px solid black;
    }
  }
  