body{
  background-image: url("/images/saunaInHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body{
    background-position: center center;
    height: 100vh;
  }
}