<section >
    <div class="home">
    <h2>Our Mission For You:</h2>
    <p class="missionStatement"> "At Mandl Custom Saunas, our mission is to
        provide personalized sauna solutions that
        seamlessly blend luxury, comfort, and functionality.
        With a passion for craftsmanship and innovation, we
        specialize in designing and building custom saunas
        tailored to fit any space—big or small. Our commitment
        is to deliver a unique sauna experience that
        promotes relaxation, wellness, and rejuvenation
        for every customer, no matter their space or requirements."</p>
    </div>
    <div class="buttonArea">
        <a href="/contact">Contact Us</a>
    </div>
</section>

